.container {
  width: 65%;
}

a {
  color: #337ab7;
  text-decoration: none;
}

input[type="search"] {
  border: none;
  background: none;
  border-bottom: 3px solid #fda30d;
}

button {
  border: none;
  /* padding: 5px 10px; */
  background: none;
}

form.search-form {
  background-color: rgba(0, 0, 0, 0.2);
  width: 23%;
  padding: 10px;
}

.display-vid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.banner-vid a p {
  transition: all 500ms;
}

.banner-vid a:hover p {
  color: #fda30e;
}

.banner-vid {
  width: 30%;
  margin: 20px 0;
}

.comeBack {
  background-color: rgba(53, 53, 53, 0.65);
  color: #fda30e;
  padding: 10px;
  border-radius: 0;
  line-height: 4;
}

.comeBack:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #fda30e;
  border-radius: 0;
}

.result {
  color: white;
  text-align: center;
}

.result strong {
  color: #fba30d;
}

.title-section {
  text-align: center;
  margin-bottom: 20px;
}

.nav-episode {
  width: 100%;
  display: block;
  text-align: center;
}

.nav-episode a {
  color: rgba(250, 163, 15, 0.5);
  transition: all 500ms;
}

.nav-episode a:hover {
  color: rgba(250, 163, 15, 1);
}

@media only screen and (max-width:1024px) {
  form.search-form {
    background-color: rgba(0, 0, 0, 0.2);
    width: 45%;
    padding: 10px;
  }
  .banner-vid {
    width: 47%;
  }
}