table {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  margin-top: 10px;
}

td, th {
  width: 30%;
  margin-right: 20px;
  padding: 10px;
}

.container {
  background: none;
}

.tableArtwork td, .tableArtwork th {
  width: 25%;
}

.orders {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}

.orders h2 {
  color: #fda30e;
}

.admin-table {
  margin: auto;
}

.admin-table td {
  padding: 10px;
}

.admin-table th {
  text-align: center;
}

.admin-table td a {
  color: white;
}

.admin-table td a:hover {
  color: #fda30e;
}
