.container {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 10px;
	width: 65%;
	line-height: 1.5;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: #fda30e;
}

main a {
	transition: all 500ms;
}

main a:hover {
	color: #337ab7;
}

.userTable {
	border: 2px solid #fda30e;
	padding: 15px 2%;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.userTable tr {
	border: 2px solid #fda30e;
}

.userTable td {
	padding: 0 3%;
	width: 19%;
	height: 40px;
}

.userTable select {
	overflow: none;
}

hr {
	width: 90%;
}

@media only screen and (max-width:1024px) {
	.userTable {
		padding: 2px 0px;
		font-size: 8px;
	}
}