/****************************************************************************************/

/****************************************BODY********************************************/

/****************************************************************************************/

#haut {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: url(../ressources/images/background/banner1.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.title-main {
    background-color: white;
    padding: 10px;
}

div#bs-example-navbar-collapse-1 {
    background: black;
    padding: 25px 0px;
}

ul.nav.navbar-nav.menu__list {
    display: flex;
    padding: 0;
    list-style: none;
    position: relative;
    margin: 0;
}

.menu__item {
    margin: 0 15px 0 0;
    position: relative;
    display: block;
}

.menu__link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 26px 16px;
    position: relative;
}

ul.dropdown-menu {
    min-width: 700px;
    padding: 30px;
    position: absolute;
    z-index: 1000;
    margin: 30px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

ul.multi-column-dropdown li {
    list-style-type: none;
    line-height: 2.5em;
}

ul.multi-column-dropdown li a {
    text-decoration: none;
    font-size: 14px;
    color: #8e8e8e;
    transition: all 500ms;
}

.multi-column-dropdown li a:hover {
    color: #fda30e;
}

.menu--shylock .menu__link::before, .menu--shylock .menu__link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
    background: #FDA30E;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.menu--shylock .menu__item--current .menu__link::after, .menu--shylock .menu__item--current .menu__link::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.cart.box_1 {
    background: #fda30e;
    padding: 15px 22px;
    text-align: center;
}

.top_nav_right {
    float: right;
    width: 21%;
}

.cart a {
    text-decoration: none;
}

.inner-w3layouts-wrap {
    margin: 0 auto;
    width: 55%;
    padding-top: 4em;
    text-align: center;
}

.inner-w3layouts-wrap h4, .inner-w3layouts-wrap h2 {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    margin: 0.5em 0 3em 0;
}

.nav .menu__item>a:focus {
    background-color: #FDA30E;
    color: #fff;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

p {
    margin: 0;
    font-size: 0.9em;
    color: #fff;
    line-height: 1.9em;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.display {
    display: none;
}